:root {
  --main: #e6bb00;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa; /* Light gray background color */
  overflow-x: hidden;
}

.container-fluid {
  background-color: var(--main); /* Blue background color for the header */
  color: #fff; /* White text color */
}

h1, h2, h3 {
  color: var(--main); /* Blue text color for headings */
  font-family: 'Space Grotesk', sans-serif;
}

.cardmy {
  background-color: #e9ecef; /* Light gray background color for each card */
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.cardmy:hover {
  transform: scale(1.1);
  border-radius: 10px;
  box-shadow: 0 0 15px -6px rgba(53, 37, 4, 0.42);
}

#about, #participants {
  margin-top: 30px;
}
